.features__element-description {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	margin: 0;

	@media screen and (max-width: 769px) {
		font-size: 12px;
		line-height: 1;
		
	}
}
