.form__input-wrapper_two-columns {
    width: calc(2 * (100% / 3) - 10px);
    flex-direction: column;
    align-items: stretch;
    gap: 18px;

    @media screen and (max-width: 769px) {
        width: 100%;
    }
}