.button__ico {
	background: url("../images/button-file.svg") no-repeat;
	height: 20px;
	width: 17px;
	background-position: center;
	background-size: contain;

	@media screen and (max-width: 769px) {
		height: 14px;
		width: 14px;
	}
}
