.button {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 15px 60px;
	border: 1px solid #fff;
	background: #3e9cdc;
	border-radius: 4px;
}
