.button {
    font-weight: 800;
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 18px 50px;
    background: $light-red;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
    display: flex;
    box-sizing: border-box;
    justify-content: center;

	&:hover {
		cursor: pointer;
		transition: 0.3s;
		background: $red;
	}

	@media screen and (max-width: 769px) {
		width: auto;
		font-size: 12px;
		line-height: 1;
	}
	
	@media screen and (max-width: 479px) {
		width: 100%;
	}
}
