.form__input-percent {
	font-family: "Lato";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-align: right;
	color: rgba(255, 255, 255, 0.85);

	@media screen and (max-width: 769px) {
		font-size: 14px;
		line-height: 1.2;
	}
}
