.h1-title {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	text-transform: uppercase;
	max-width: 780px;
	color: #000;
    margin: 0 0 80px 0;

	span {
		color: #3e9cdc;
	}
}
