.first-block__content {
	width: 1169px;
	padding: 200px 0 0 0;

	@media screen and (max-width: 1249px) {
		width: calc(100% - 40px);
	}

	@media screen and (max-width: 969px) {
		padding: 20vh 0;
	}
}
